{% extends 'base.html.twig' %}

{% block carousel %}

{% endblock %}

{% block  content %}
    <div class="container">
    <div class="row">
    {% for plat in plats %}

        <div class="col-md-4">

                <img src="{{vich_uploader_asset(plat,"imageFile") }}" class="bd-placeholder-img rounded-circle" width="140"
                     height="140" xmlns="http://www.w3.org/2000/svg" role="img"
                     aria-label="Placeholder: 14" preserveAspectRatio="xMidYMid slice"
                     focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text
                        x="50%" y="50%" fill="#777" dy=".3em"></text>
                </img>

                <h2>{{ plat.libelle }}</h2>
                <p>{{ plat.prix }}</p>
                <p>{{ plat.description }}</p>
                <p><a class="btn btn-secondary" href="{{ path('basket_add',{'id': plat.id}) }}">Ajouter au panier</a></p>


        </div><!-- /.col-md-4 -->

    <!-- /.row -->
    {% endfor %}
    </div>
    </div>
{% endblock %}